<div class="wrap">

  <div class="target-title">
    <h2>{{ target.code }} {{ target.title }}</h2>
  </div>

  <div class="card-container">

    <div class="m-card--indicators">
      <h3 class="card-title">IAEG Global Indicator</h3>

      {{#if officialIndicators}}
        <ul class="indicator-list" data-iso="{{ iso }}">
          {{#each officialIndicators}}
            <li class="indicator-item">
              <span class="indicator-score"> {{ comma score }} <span class="units">{{ units_abbr }}</span></span>
              <h4 class="indicator-title">{{ indicator_code }} {{ indicator_title }}</h4>
              <div class="indicator-metadata">
                <span class="indicator-source"> {{ source_title }} </span>
                <span class="indicator-year"> Last update: {{ year }} </span>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span class="no-indicators">No indicators available</span>
      {{/if}}

    </div>

    <div class="m-card--indicators">
      <h3 class="card-title">Complementary Global Indicator</h3>

      {{#if shadowIndicators}}
        <ul class="indicator-list" data-iso="{{ iso }}">
          {{#each shadowIndicators}}
            <li class="indicator-item">
              <span class="indicator-score"> {{ comma score }} </span>
              <h4 class="indicator-title">{{ indicator_code }} {{ indicator_title }}</h4>
              <div class="indicator-metadata">
                <span class="indicator-source"> {{ source_title }} </span>
                <span class="indicator-year"> Last update: {{ year }} </span>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span class="no-indicators">No indicators available</span>
      {{/if}}
    </div>

  </div>

  <div class="slider-indicator">
    <div class="m-card--indicators">
      <h3 class="card-title">IAEG Global Indicator</h3>

      {{#if officialIndicators}}
        <ul class="indicator-list" data-iso="{{ iso }}">
          {{#each officialIndicators}}
            <li class="indicator-item">
              <span class="indicator-score"> {{ score }}<span class="units">{{ units_abbr }}</span></span>
              <h4 class="indicator-title">{{ indicator_code }} {{ indicator_title }}</h4>
              <div class="indicator-metadata">
                <span class="indicator-source"> {{ source_title }} </span>
                <span class="indicator-year"> Last update: {{ year }} </span>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span class="no-indicators">No indicators available</span>
      {{/if}}

    </div>
    <div class="m-card--indicators">
      <h3 class="card-title">Complementary Global Indicator</h3>

      {{#if shadowIndicators}}
        <ul class="indicator-list" data-iso="{{ iso }}">
          {{#each shadowIndicators}}
            <li class="indicator-item">
              <span class="indicator-score"> {{ score }} </span>
              <h4 class="indicator-title">{{ indicator_code }} {{ indicator_title }}</h4>
              <span class="indicator-source"> {{ source_name }}</span>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <span class="no-indicators">No indicators available</span>
      {{/if}}
    </div>
  </div>

  <div class="button-container">
    <a class="c-button -secondary -small" href="/map?layer={{ target.slug }}&layerType=target-type&iso={{ iso }}"> map view </a>
    <a class="c-button -secondary -small" href="/compare/?isoA={{ iso }}"> compare </a>
  </div>

</div>
