<div class="card-container">

  <div class="m-card--indicators">
    <h3 class="card-title">IAEG Global Indicators</h3>

    {{#if officialIndicators}}
      <ul class="indicator-list" data-iso="{{ iso }}">
        {{#each officialIndicators}}
          <li class="indicator-item">
            <span class="indicator-score"> {{comma score }} {{#if score}}{{ units_abbr }} {{/if}}</span>
            <h4 class="indicator-title">{{ indicator_code }} {{ indicator_title }}</h4>
            <div class="indicator-metadata">
              {{#if max_score }}<span class="indicator-score-range">Score range: {{ min_score }} -  {{ max_score }}</span>{{/if}}
              {{#if units}}<span class="indicator-units">Units: {{ units }}</span>{{/if}}
              {{#if year }}<span class="indicator-year">Last update: {{ year }}</span>{{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <span class="no-indicators">No IAEG Global indicators for this target</span>
    {{/if}}
  </div>

  <div class="m-card--indicators">
    <h3 class="card-title">Complementary Global Indicators</h3>

    {{#if shadowIndicators}}
      <ul class="indicator-list" data-iso="{{ iso }}">
        {{#each shadowIndicators}}
          <li class="indicator-item">
            <span class="indicator-score"> {{comma score }} {{#if score}}{{ units_abbr }} {{/if}}</span>
            <h4 class="indicator-title">{{ indicator_code }} {{ indicator_title }}</h4>
            <div class="indicator-metadata">
              {{#if max_score }}<span class="indicator-score-range">Score range: {{ min_score }} -  {{ max_score }}</span>{{/if}}
              {{#if units}}<span class="indicator-units">Units: {{ units }}</span>{{/if}}
              {{#if year }}<span class="indicator-year">Last update: {{ year }}</span>{{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <span class="no-indicators">No Complementary Global Indicators for this target</span>
    {{/if}}

  </div>

</div>

<div class="button-container">
  <a class="c-button -secondary -small" href="/map?layer={{ target.slug }}&layerType=target-type&iso={{ iso }}"> map view </a>
  <a class="c-button -secondary -small" href="/compare/?isoA={{ iso }}"> compare </a>
</div>
