<div class="wrap">
  <div class="country-header--title">{{country}}</div>
  <div class="button-container">
    <div class="options-btn" id="toggle-btns"></div>
    <div class="buttons-trigger">
      <div class="buttons-wrapper">
        <a class="c-button -secondary -small" href="{{siteurl}}/map?layer={{ target.slug }}&layerType=target-type&iso={{ iso }}"> map view </a>
        <a class="c-button -secondary -compare -small" href="{{siteurl}}/compare/?isoA={{ iso }}"> compare </a>
      </div>
    </div>
  </div>
</div>
