{{siteurl}}
{{#if officialIndicators}}
  <div class="c-score-table">
    <div class="table-header">
      <div class="table-row">
        <div class="table-cell -category">
          <span>IAEG Global Indicator</span>
        </div>

        {{#each countries}}
          <div class="table-cell -country">
            <span>{{#if name }} {{name}} {{else}} - {{/if}}</span>
          </div>
        {{/each}}

      </div>
    </div>
    <div class="table-body">

      {{#each officialIndicators}}

        <div class="table-row">
          <div class="table-cell -indicator">
            <a href="{{ ../siteurl }}/data/?indicator={{ indicator_slug }}" class="indicator-name">{{indicator_code}} {{ indicator_title }}</a>
            <span class="c-indicator-metadata">
              {{#if max_score }}<span>Score range: {{ min_score }} - {{ max_score }}</span>{{/if}}
              {{#if units}}<span> {{ units }}</span>{{/if}}
              {{#if year }}<span> Last update {{ year }}</span>{{/if}}
            </span>
          </div>

          <div class="table-cell -score">
            <span>
              {{#if literalScoreA}}
                {{ literalScoreA }}
              {{else}}
                {{comma scoreA }} {{#if scoreA}}{{ units_abbr }} {{/if}}
              {{/if}}
            </span>
            <span class="country-name only-mobile">{{ countryA }}</span>
          </div>

          <div class="table-cell -score">
            <span>
              {{#if literalScoreB}}
                {{ literalScoreB }}
              {{else}}
                {{comma scoreB }} {{#if scoreB}}{{ units_abbr }} {{/if}}
              {{/if}}
            </span>
            <span class="country-name only-mobile">{{ countryB }}</span>
          </div>

          <div class="table-cell -score">
            <span>
              {{#if literalScoreC}}
                {{ literalScoreC }}
              {{else}}
                {{comma scoreC }} {{#if scoreC}}{{ units_abbr }} {{/if}}
              {{/if}}
            </span>
            <span class="country-name only-mobile">{{ countryC }}</span>
          </div>
        </div>

        {{else}}
          <div class="table-row">
            <span class="no-indicators">No IAEG Global Indicators for this target</span>
          </div>
        {{/each}}
    </div>

{{else}}

  <p class="no-indicators">No indicators available for this target</p>

{{/if}}

{{#if shadowIndicators}}
  <div class="c-score-table">
    <div class="table-header">
      <div class="table-row">
        <div class="table-cell -category">
          <span>Complementary Global Indicator</span>
        </div>

        {{#each countries}}
          <div class="table-cell -country">
            <span>{{#if name }} {{name}} {{else}} - {{/if}}</span>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="table-body">

      {{#each shadowIndicators}}

        <div class="table-row">
          <div class="table-cell -indicator">
            <a href="{{ ../siteurl }}/data/?indicator={{ indicator_slug }}" class="indicator-name">{{indicator_code}} {{ indicator_title }}</a>
            <span class="c-indicator-metadata">
              {{#if max_score }}<span>Score range: {{ min_score }} - {{ max_score }}</span>{{/if}}
              {{#if units}}<span> {{ units }}</span>{{/if}}
              {{#if year }}<span> Last update {{ year }}</span>{{/if}}
            </span>
          </div>

          <div class="table-cell -score">
            <span>
              {{#if literalScoreA}}
                {{ literalScoreA }}
              {{else}}
                {{comma scoreA }} {{#if scoreA}}{{ units_abbr }} {{/if}}
              {{/if}}
            </span>
            <span class="country-name only-mobile">{{ countryA }}</span>
          </div>

          <div class="table-cell -score">
            <span>
              {{#if literalScoreB}}
                {{ literalScoreB }}
              {{else}}
                {{comma scoreB }} {{#if scoreB}}{{ units_abbr }} {{/if}}
              {{/if}}
            </span>
            <span class="country-name only-mobile">{{ countryB }}</span>
          </div>

          <div class="table-cell -score">
            <span>
              {{#if literalScoreC}}
                {{ literalScoreC }}
              {{else}}
                {{comma scoreC }} {{#if scoreC}}{{ units_abbr }} {{/if}}
              {{/if}}
            </span>
            <span class="country-name only-mobile">{{ countryC }}</span>
          </div>
        </div>

      {{else}}
        <div class="table-row">
          <span class="no-indicators">No Complementary Global Indicators for this target</span>
        <div>
      {{/each}}
    </div>

{{else}}

  <p class="no-indicators">No indicators available for this target</p>

{{/if}}
