<div class="m-popup">
  <button class="btn-close">
    <svg class="icon icon-close">
      <use xlink:href="#icon-close"></use>
    </svg>
  </button>
  <div class="wrapper">
    <a href="{{ siteurl }}/countries/?iso={{iso}}"><h1 class="c-title-popup -small">{{country.name}}</h1></a>
    <div class="scroll-wrapper">
      {{#if indicators}}
        {{#if indicators.official}}
        <p class="c-subtitle-popup">IAEG global indicators</p>
          {{#each indicators.official}}
            <div class="data-numbers">
              <span class="c-score-popup -small">
                {{#if literalScore}}
                  {{ literalScore }}
                {{else}}
                  {{comma score }} {{#if score}} <span class="units">{{ units_abbr }}</span> {{/if}}
                {{/if}}
              </span>
              <div class="data-info">
                <a class="c-indicator-name -pop-up" href="{{ siteurl }}/data/?indicator={{ slug }}">{{indicator_code}} {{title}}</a>
                <div class="c-indicator-metadata">
                  {{#if max_score }}<span>Score range: {{ min_score }} - {{ max_score }}</span>{{/if}}
                  {{#if units}}<span> {{ units }}</span>{{/if}}
                  {{#if year }}<span> Last update {{ year }}</span>{{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/if}}
        {{#if indicators.shadow}}
        <p class="c-subtitle-popup -shadow">complementary global indicators</p>
          {{#each indicators.shadow}}
            <div class="data-numbers">
              <span class="c-score-popup -small">
                {{#if literalScore}}
                  {{ literalScore }}
                {{else}}
                  {{comma score }} {{#if score}} <span class="units">{{ units_abbr }}</span> {{/if}}
                {{/if}}
              </span>
              <div class="data-info">
                <a class="c-indicator-name -pop-up" href="{{ siteurl }}/data/?indicator={{ slug }}">{{indicator_code}} {{title}}</a>
                <div class="c-indicator-metadata">
                  {{#if max_score }}<span>Score range: {{ min_score }} - {{ max_score }}</span>{{/if}}
                  {{#if units}}<span> {{ units }}</span>{{/if}}
                  {{#if year }}<span> Last update {{ year }}</span>{{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/if}}
      {{/if}}
    </div>

    <div class="links">
      <a href="{{ siteurl }}/countries/?iso={{country.iso}}">visit country page > </a>
      <a href="{{ siteurl }}/compare/?isoA={{country.iso}}">compare to others > </a>
    </div>
  </div>
</div>
<div id="popup-background"></div>
