<div class="m-popup">
  <button class="btn-close">
    <svg class="icon icon-close">
      <use xlink:href="#icon-close"></use>
    </svg>
  </button>
  <div class="wrapper">
    <a href="countries/FRA"><h1 class="c-title-popup -small">{{name}}</h1></a>
    <div class="data">
      <p>{{title}}</p>
      <p>Last data point: {{year}}</p>
    </div>
    <div class="score c-score-popup">{{score}} {{units_abbr}}</div>
    <div class="links">
      <a href="{{url}}/countries/?iso={{iso}}">visit country page > </a>
      <a href="{{url}}/compare/?isoA={{iso}}">compare to others > </a>
    </div>
  </div>
</div>
<div id="popup-background"></div>
