{{#each targets}}
  <div class="m-dashboard-target" id="{{slug}}">
    <div class="header">
      <button class="js--toggle-target btn-toggle-target" data-slug={{slug}}>+</button>
      <input type="radio" name="layer-selector" value={{slug}} id={{slug}} class="js--layer-selector -target">
      <label for={{slug}}><h2 class="target-title js--target" data-slug={{slug}}>{{title}}</h2></label>
    </div>
    <div class="m-dashboard-indicators js--indicators"></div>
  </div>
{{/each}}
