{{#each targets}}
  <div class="l-target-card" id="{{slug}}">
    <div class="wrap">
      <div class="m-data-target">
        <div class="header">
          <h3 class="c-title-underline">{{code}} {{title}}</h2>
        </div>
        <div class="m-data-indicators js--indicators">
          {{#each indicators}}
          <div class="m-table-indicator">
            <div class="header">
              <h1>{{title}} <span>{{type}}</span></h1>
              <button>
                <svg class="icon icon-open_arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-open_bigarrow">
                </svg>
              </button>
            </div>
            <div class="indicator-info">
              <p>{{desciption}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
