{{#each targets}}
  <div class="l-target-card" id="{{slug}}">
    <div class="wrap">
      <div class="m-data-target">
        <div class="header">
          <h3 class="c-title-underline">{{code}} {{title}}</h2>
        </div>
        {{#each indicators}}
        <div id="indicator-{{slug}}" class="m-data-indicator">
          <div class="header js--toggle-indicator" data-slug={{slug}}>
            <h1>{{indicator_code}} {{title}} <span>({{#typeOfIndicator type}}{{/typeOfIndicator}})</span></h1>
            <div class="buttons">
              <button class="js--icon-open">
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-open_bigarrow">
                </svg>
              </button>
              <button class="js--icon-close is-hidden">
                <svg class="icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
          <div class="indicator-info is-hidden">
            <p>{{description}}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo est, architecto pariatur, eligendi rem omnis quia facilis debitis enim explicabo, officia, vitae dolore? Vitae pariatur quos adipisci, delectus ipsa eveniet?</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}
