{{#if isBase}}
  <div id="infowindow-base">
    <div class="m-modal-window">
      <div class="modal-wrapper">
        <div class="btn-close-modal close-icon">×</div>
        <div class="modal-container">
          <div id="modal-content" class="modal-content">
            {{{content}}}
          </div>
        </div>
      </div>
      <div class="modal-background"></div>
    </div>
  </div>
{{/if}}

{{#if isIndicator}}
  <div id="info-infowindow">
    <div class="-indicator">
      <h2 class="indicator-name">{{{data.product_name}}}</h2>
      <div class="indicator-logo" style="background-image: url('/img/logos/{{data.product_logo}}')"></div>
      <div class="info-wrapper">
        <span class="score-range">Score Range: {{data.max_score}} - {{data.min_score}}</span>
        <a class="btn -secondary indicator-website" href="{{data.methodology_link}}" target="_blank">visit the website</a>
      </div>
      <p>{{data.product_description}}</p>
    </div>
  </div>
{{/if}}

